In [103]:
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense , Input , LSTM , Embedding, Dropout , Activation, GRU, Flatten,Conv2D,Conv1D
from keras.layers import Bidirectional, GlobalMaxPool1D
from keras.models import Model, Sequential
from keras.layers import Convolution1D
from keras import initializers, regularizers, constraints, optimizers, layers
from keras.utils import to_categorical
import numpy as np

In [104]:
df = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_5_label_unbalanced.csv",engine = 'python')

In [105]:
df[:15]

    stars                                  Processed_Reviews
0       5  go lunch steak sandwich delicious caesar salad...
1       4  ill first admit excite go la tavolta food snob...
2       3  tracy dessert big name hong kong one first mar...
3       1  place go hill clearly cut back staff food qual...
4       4  like walk back time every saturday morning sis...
5       1  walk around friday afternoon sit table bar wal...
6       4  wow surprise one two star review start tender ...
7       1  cannot believe things change years pick duck c...
8       5  cant really find anything wrong place pastas p...
9       4  great lunch today staff helpful assist selecti...
10      3  love chinese food love mexican food go wrong c...
11      5  weve huge slim fan since open one texas two ye...
12      3  good selection class beers mains ive twice fir...
13      5  family love food quick friendly delicious grea...
14      5  look best pierogies pittsburgh place small tab...

In [106]:
star1 = df[df['stars'] == 1]
print("1 star reviews shape" + str(star1.shape[0]))
star2 = df[df['stars'] == 2]
print("2 star reviews shape" + str(star2.shape[0]))
star3 = df[df['stars'] == 3]
print("3 star reviews shape" + str(star3.shape[0]))
star4 = df[df['stars'] == 4]
print("4 star reviews shape" + str(star4.shape[0]))
star5 = df[df['stars'] == 5]
print("5 star reviews shape" + str(star5.shape[0]))

1 star reviews shape67046
2 star reviews shape53939
3 star reviews shape77547
4 star reviews shape154883
5 star reviews shape237045

In [107]:
df = df.drop(df.query('stars == 5').sample(frac=.78).index)
df = df.drop(df.query('stars == 4').sample(frac=.65).index)
df = df.drop(df.query('stars == 3').sample(frac=.3).index)
df = df.drop(df.query('stars == 1').sample(frac=.2).index)

In [108]:
star1 = df[df['stars'] == 1]
print("1 star reviews shape" + str(star1.shape[0]))
star2 = df[df['stars'] == 2]
print("2 star reviews shape" + str(star2.shape[0]))
star3 = df[df['stars'] == 3]
print("3 star reviews shape" + str(star3.shape[0]))
star4 = df[df['stars'] == 4]
print("4 star reviews shape" + str(star4.shape[0]))
star5 = df[df['stars'] == 5]
print("5 star reviews shape" + str(star5.shape[0]))

1 star reviews shape53637
2 star reviews shape53939
3 star reviews shape54283
4 star reviews shape54209
5 star reviews shape52150

In [109]:
df[:15]

    stars                                  Processed_Reviews
3       1  place go hill clearly cut back staff food qual...
5       1  walk around friday afternoon sit table bar wal...
10      3  love chinese food love mexican food go wrong c...
12      3  good selection class beers mains ive twice fir...
16      5  pick meat planet chef make mexican style dish ...
19      1  give place star would hot pot though im good j...
20      5  end raku close receive great rat yelp im glad ...
21      1  love place downtown scottsdale location manner...
23      1  come thursday night pm friends reservation nee...
24      2  go last weekend pretty disappoint one thing pi...
25      5  place epitomize rumor transformation process t...
26      4  dinner fantastic service great start corn soup...
27      1  meet friend dinner tonight server bring us one...
28      4  another solid bbq place calgary definitely gre...
30      1  dinner bellagio buffet last night service ok s...

In [110]:
import random
##############################
# Prepare train and test set 
##############################
star1_index = df.index[df['stars'] == 1 ].tolist()
test1_index = random.sample(star1_index, 10000)
print(len(star1_index))
print(star1_index[:10])
print(len(test1_index))
print(test1_index[:10])
star2_index = df.index[df['stars'] == 2 ].tolist()
test2_index = random.sample(star2_index, 10000)

star3_index = df.index[df['stars'] == 3 ].tolist()
test3_index = random.sample(star3_index, 10000)

star4_index = df.index[df['stars'] == 4 ].tolist()
test4_index = random.sample(star4_index, 10000)

star5_index = df.index[df['stars'] == 5 ].tolist()
test5_index = random.sample(star5_index, 10000)

test_index = test1_index+test2_index+test3_index+test4_index+test5_index
print(len(test_index))

53637
[3, 5, 19, 21, 23, 27, 30, 44, 46, 51]
10000
[435876, 191103, 515914, 84201, 81617, 388397, 203656, 355151, 93185, 446945]
50000

In [111]:
print(test_index[:10])
test = df.loc[test_index]
print(test.shape)
star1 = test[test['stars'] == 1]
print("1 star reviews shape" + str(star1.shape[0]))
star2 = test[test['stars'] == 2]
print("2 star reviews shape" + str(star2.shape[0]))
star3 = test[test['stars'] == 3]
print("3 star reviews shape" + str(star3.shape[0]))
star4 = test[test['stars'] == 4]
print("4 star reviews shape" + str(star4.shape[0]))
star5 = test[test['stars'] == 5]
print("5 star reviews shape" + str(star5.shape[0]))

[435876, 191103, 515914, 84201, 81617, 388397, 203656, 355151, 93185, 446945]
(50000, 2)
1 star reviews shape10000
2 star reviews shape10000
3 star reviews shape10000
4 star reviews shape10000
5 star reviews shape10000

In [112]:
df = df.drop(test_index,axis = 0)

In [113]:
star1 = df[df['stars'] == 1]
print("1 star reviews shape" + str(star1.shape[0]))
star2 = df[df['stars'] == 2]
print("2 star reviews shape" + str(star2.shape[0]))
star3 = df[df['stars'] == 3]
print("3 star reviews shape" + str(star3.shape[0]))
star4 = df[df['stars'] == 4]
print("4 star reviews shape" + str(star4.shape[0]))
star5 = df[df['stars'] == 5]
print("5 star reviews shape" + str(star5.shape[0]))

1 star reviews shape43637
2 star reviews shape43939
3 star reviews shape44283
4 star reviews shape44209
5 star reviews shape42150

In [114]:
df.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balance_5_train.csv",index = False)
test.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balance_5_test.csv",index = False)

In [ ]:
train = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balance_5_train.csv")
train = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balance_5_train.csv")