In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/harvey/Desktop/Data/restuarant_review_balanced.csv")

In [4]:
df.head()

   sentiment  stars                                  Processed_Reviews
0          0      1  place go hill clearly cut back staff food qual...
1          0      1  walk around friday afternoon sit table bar wal...
2          0      1  cannot believe things change years pick duck c...
3          1      5  cant really find anything wrong place pastas p...
4          1      4  great lunch today staff helpful assist selecti...

In [8]:
print(df[:15])
positive = df[df['sentiment'] == 1]
negative = df[df['sentiment'] == 0]
print(positive.shape)
print(negative.shape)

    sentiment  stars                                  Processed_Reviews
0           0      1  place go hill clearly cut back staff food qual...
1           0      1  walk around friday afternoon sit table bar wal...
2           0      1  cannot believe things change years pick duck c...
3           1      5  cant really find anything wrong place pastas p...
4           1      4  great lunch today staff helpful assist selecti...
5           1      5  look best pierogies pittsburgh place small tab...
6           1      4  food always good price reasonable although exa...
7           0      1  give place star would hot pot though im good j...
8           0      1  love place downtown scottsdale location manner...
9           1      5  best chinese resto highly recommend star let u...
10          0      1  come thursday night pm friends reservation nee...
11          0      2  go last weekend pretty disappoint one thing pi...
12          1      4  dinner fantastic service great start corn soup...
13          0      1  meet friend dinner tonight server bring us one...
14          1      5  party order fish tacos pork belly banh mi corn...
(137175, 3)
(120985, 3)

In [13]:
# drop stars 
df = df.drop("stars",axis = 1)

In [15]:
df[:15]

    sentiment                                  Processed_Reviews
0           0  place go hill clearly cut back staff food qual...
1           0  walk around friday afternoon sit table bar wal...
2           0  cannot believe things change years pick duck c...
3           1  cant really find anything wrong place pastas p...
4           1  great lunch today staff helpful assist selecti...
5           1  look best pierogies pittsburgh place small tab...
6           1  food always good price reasonable although exa...
7           0  give place star would hot pot though im good j...
8           0  love place downtown scottsdale location manner...
9           1  best chinese resto highly recommend star let u...
10          0  come thursday night pm friends reservation nee...
11          0  go last weekend pretty disappoint one thing pi...
12          1  dinner fantastic service great start corn soup...
13          0  meet friend dinner tonight server bring us one...
14          1  party order fish tacos pork belly banh mi corn...

In [16]:
df.columns = ['stars','Processed_Reviews']

In [17]:
df.head()

   stars                                  Processed_Reviews
0      0  place go hill clearly cut back staff food qual...
1      0  walk around friday afternoon sit table bar wal...
2      0  cannot believe things change years pick duck c...
3      1  cant really find anything wrong place pastas p...
4      1  great lunch today staff helpful assist selecti...

In [20]:
import random
##############################
# Prepare train and test set 
##############################
star1_index = df.index[df['stars'] == 0 ].tolist()
test1_index = random.sample(star1_index, 25000)

star2_index = df.index[df['stars'] == 1 ].tolist()
test2_index = random.sample(star2_index, 25000)

test_index = test1_index+test2_index
print(len(test_index))

50000

In [21]:
test = df.loc[test_index]
print(test.shape)
star1 = test[test['stars'] == 0]
print("negative reviews shape" + str(star1.shape[0]))
star2 = test[test['stars'] == 1]
print("positive reviews shape" + str(star2.shape[0]))

(50000, 2)
negative reviews shape25000
positive reviews shape25000

In [22]:
df = df.drop(test_index,axis = 0)

In [24]:
positive = df[df['stars'] == 1]
negative = df[df['stars'] == 0]
print(positive.shape)
print(negative.shape)

(112175, 2)
(95985, 2)

In [25]:
df.to_csv("/Users/harvey/Desktop/Data/restuarant_balanced_2_train.csv",index = False)
test.to_csv("/Users/harvey/Desktop/Data/restuarant_balanced_2_test.csv",index = False)