In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balance_2.csv")
df.drop("Unnamed: 0",axis = 1, inplace = True)

In [7]:
df.head()

   stars                                  Processed_Reviews
0      0  place gone hill clearly cut back staff food qu...
1      0  walked around friday afternoon sat table bar w...
2      0  cannot believe things changed years picked duc...
3      1  great lunch today staff helpful assisting sele...
4      1  family loves food here quick friendly deliciou...

In [9]:
print(df[:15])
positive = df[df['stars'] == 1]
negative = df[df['stars'] == 0]
print(positive.shape)
print(negative.shape)

    stars                                  Processed_Reviews
0       0  place gone hill clearly cut back staff food qu...
1       0  walked around friday afternoon sat table bar w...
2       0  cannot believe things changed years picked duc...
3       1  great lunch today staff helpful assisting sele...
4       1  family loves food here quick friendly deliciou...
5       1  great food great service obviously fried chick...
6       1  pettuccine fresh  made morning delicate yummy ...
7       0  give place stars would hot pot though im good ...
8       0  love place downtown scottsdale location manner...
9       0  came thursday night p m friends reservation ne...
10      0  went last weekend pretty disappointed one thin...
11      1  place epitomizes rumored transformation proces...
12      0  met friend dinner tonight server brought us on...
13      0  dinner bellagio buffet last night service ok s...
14      1  really enjoyed visit here everything visually ...
(137175, 2)
(120985, 2)

    sentiment                                  Processed_Reviews
0           0  place go hill clearly cut back staff food qual...
1           0  walk around friday afternoon sit table bar wal...
2           0  cannot believe things change years pick duck c...
3           1  cant really find anything wrong place pastas p...
4           1  great lunch today staff helpful assist selecti...
5           1  look best pierogies pittsburgh place small tab...
6           1  food always good price reasonable although exa...
7           0  give place star would hot pot though im good j...
8           0  love place downtown scottsdale location manner...
9           1  best chinese resto highly recommend star let u...
10          0  come thursday night pm friends reservation nee...
11          0  go last weekend pretty disappoint one thing pi...
12          1  dinner fantastic service great start corn soup...
13          0  meet friend dinner tonight server bring us one...
14          1  party order fish tacos pork belly banh mi corn...

   stars                                  Processed_Reviews
0      0  place go hill clearly cut back staff food qual...
1      0  walk around friday afternoon sit table bar wal...
2      0  cannot believe things change years pick duck c...
3      1  cant really find anything wrong place pastas p...
4      1  great lunch today staff helpful assist selecti...

In [10]:
import random
##############################
# Prepare train and test set 
##############################
star1_index = df.index[df['stars'] == 0 ].tolist()
test1_index = random.sample(star1_index, 25000)

star2_index = df.index[df['stars'] == 1 ].tolist()
test2_index = random.sample(star2_index, 25000)

test_index = test1_index+test2_index
print(len(test_index))

50000

In [11]:
test = df.loc[test_index]
print(test.shape)
star1 = test[test['stars'] == 0]
print("negative reviews shape" + str(star1.shape[0]))
star2 = test[test['stars'] == 1]
print("positive reviews shape" + str(star2.shape[0]))

(50000, 2)
negative reviews shape25000
positive reviews shape25000

In [12]:
df = df.drop(test_index,axis = 0)

In [13]:
positive = df[df['stars'] == 1]
negative = df[df['stars'] == 0]
print(positive.shape)
print(negative.shape)

(112175, 2)
(95985, 2)

In [14]:
df.head()

   stars                                  Processed_Reviews
0      0  place gone hill clearly cut back staff food qu...
1      0  walked around friday afternoon sat table bar w...
3      1  great lunch today staff helpful assisting sele...
4      1  family loves food here quick friendly deliciou...
5      1  great food great service obviously fried chick...

In [15]:
test.head()
print(test.shape)

(50000, 2)

In [16]:
df.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balanced_2_train.csv",index = False)
test.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balanced_2_test.csv",index = False)

In [18]:
train= pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balanced_2_train.csv",lineterminator='\n')
test = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balanced_2_train.csv",lineterminator='\n')

In [ ]:
test.shape