In [94]:
import pandas as pd
import re
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from string import punctuation
import string

In [110]:
df = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review.csv",  encoding = "ISO-8859-1")

In [111]:
df.head()

   stars                                               text  positive language
0      5  Went in for a lunch. Steak sandwich was delici...      True  english
1      4  I'll be the first to admit that I was not exci...      True  english
2      1  This place has gone down hill.  Clearly they h...     False  english
3      4  Like walking back in time, every Saturday morn...      True  english
4      1  Walked in around 4 on a Friday afternoon, we s...     False  english

In [114]:
df['text'][0]

"Went in for a lunch. Steak sandwich was delicious, and the Caesar salad had an absolutely delicious dressing, with a perfect amount of dressing, and distributed perfectly across each leaf. I know I'm going on about the salad ... But it was perfect.\r\n\r\nDrink prices were pretty good.\r\n\r\nThe Server, Dawn, was friendly and accommodating. Very happy with her.\r\n\r\nIn summation, a great pub experience. Would go again!"

In [115]:
df['text'][2]

"This place has gone down hill.  Clearly they have cut back on staff and food quality\r\n\r\nMany of the reviews were written before the menu changed.  I've been going for years and the food quality has gone down hill.\r\n\r\nThe service is slow & my salad, which was $15, was as bad as it gets.\r\n\r\nIt's just not worth spending the money on this place when there are so many other options."

In [116]:
df['text'] = df['text'].apply(lambda x : x.replace('\r\n',' '))

In [119]:
df['text'][2]

"This place has gone down hill.  Clearly they have cut back on staff and food quality  Many of the reviews were written before the menu changed.  I've been going for years and the food quality has gone down hill.  The service is slow & my salad, which was $15, was as bad as it gets.  It's just not worth spending the money on this place when there are so many other options."

In [120]:

def clean_text(text, remove_stopwords=False, stem_words=False):
    # Clean the text, with the option to remove stopwords and to stem words.
    
    # Convert words to lower case and split them
    
    text = text.lower().split()

    # Optionally, remove stop words
    if remove_stopwords:
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
    
    text = " ".join(text)

    # Clean the text
    #text = re.sub(r'[^\w\s]','',text, re.UNICODE)
    text = re.sub(r'[0-9]+', '', text)
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    # Optionally, shorten words to their stems
    if stem_words:
        text = text.split()
        stemmer = SnowballStemmer('english')
        stemmed_words = [stemmer.stem(word) for word in text]
        text = " ".join(stemmed_words)
    
    #text = " ".join(text)
    # Return a list of words
    text = text.translate(str.maketrans('', '', string.punctuation))
    return(text)

In [123]:
#nltk.download('wordnet')

df['Processed_Reviews'] = df['text'].apply(lambda x: clean_text(x,remove_stopwords=True, stem_words=False))

In [102]:
stemmer = SnowballStemmer('english')
stemmer.stem( 'delicious')

'delici'

In [124]:
df.head()

,stars,text,positive,language,Processed_Reviews
0,5,Went in for a lunch. Steak sandwich was delici...,True,english,went lunch steak sandwich delicious caesar sal...
1,4,I'll be the first to admit that I was not exci...,True,english,i will first admit excited going la tavolta fo...
2,1,This place has gone down hill. Clearly they h...,False,english,place gone hill clearly cut back staff food qu...
3,4,"Like walking back in time, every Saturday morn...",True,english,like walking back time every saturday morning ...
4,1,"Walked in around 4 on a Friday afternoon, we s...",False,english,walked around friday afternoon sat table bar w...

In [125]:
df['Processed_Reviews'][0]

'went lunch steak sandwich delicious caesar salad absolutely delicious dressing perfect amount dressing distributed perfectly across leaf know i am going salad perfect drink prices pretty good server dawn friendly accommodating happy her summation great pub experience would go again '

In [126]:
df.drop('text',axis = 1,inplace= True)
df.drop('stars',axis = 1,inplace= True)
df.drop('language',axis = 1,inplace= True)

In [127]:
df.head()

   positive                                  Processed_Reviews
0      True  went lunch steak sandwich delicious caesar sal...
1      True  i will first admit excited going la tavolta fo...
2     False  place gone hill clearly cut back staff food qu...
3      True  like walking back time every saturday morning ...
4     False  walked around friday afternoon sat table bar w...

In [128]:
df['positive'] = df['positive'].astype(int)

In [129]:
df.head()

   positive                                  Processed_Reviews
0         1  went lunch steak sandwich delicious caesar sal...
1         1  i will first admit excited going la tavolta fo...
2         0  place gone hill clearly cut back staff food qu...
3         1  like walking back time every saturday morning ...
4         0  walked around friday afternoon sat table bar w...

In [130]:
df.columns  = ['stars','Processed_Reviews']

In [131]:
df.head()

   stars                                  Processed_Reviews
0      1  went lunch steak sandwich delicious caesar sal...
1      1  i will first admit excited going la tavolta fo...
2      0  place gone hill clearly cut back staff food qu...
3      1  like walking back time every saturday morning ...
4      0  walked around friday afternoon sat table bar w...

In [133]:
positive = df[df['stars'] == 0]
print(positive.shape)
negative = df[df['stars'] == 1]
print(negative.shape)

(120985, 2)
(391928, 2)

In [134]:
df_balanced = df.drop(df.query('stars == 1').sample(frac=.65).index)

In [135]:
positive = df_balanced[df_balanced['stars'] == 1]
positive.shape

(137175, 2)

In [136]:
negative = df_balanced[df_balanced['stars'] == 0]
negative.shape

(120985, 2)

In [137]:
df_balanced.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_balance_2.csv")

(137175, 2)

(120985, 2)

'place gone hill clearly cut back staff food qualitymany reviews written menu changed i have going years food quality gone hill the service slow salad bad gets it worth spending money place many options '

In [30]:
df['reviews'][0]

"Went in for a lunch. Steak sandwich was delicious, and the Caesar salad had an absolutely delicious dressing, with a perfect amount of dressing, and distributed perfectly across each leaf. I know I'm going on about the salad ... But it was perfect.Drink prices were pretty good.The Server, Dawn, was friendly and accommodating. Very happy with her.In summation, a great pub experience. Would go again!"

In [92]:
df_2 = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review.csv",  encoding = "ISO-8859-1")

In [93]:
df_2['text'][2]

"This place has gone down hill.  Clearly they have cut back on staff and food quality\r\n\r\nMany of the reviews were written before the menu changed.  I've been going for years and the food quality has gone down hill.\r\n\r\nThe service is slow & my salad, which was $15, was as bad as it gets.\r\n\r\nIt's just not worth spending the money on this place when there are so many other options."

In [66]:
df_2.head()

   stars                                               text  positive language
0      5  Went in for a lunch. Steak sandwich was delici...      True  english
1      4  I'll be the first to admit that I was not exci...      True  english
2      1  This place has gone down hill.  Clearly they h...     False  english
3      4  Like walking back in time, every Saturday morn...      True  english
4      1  Walked in around 4 on a Friday afternoon, we s...     False  english

In [67]:
df_2['positive'] = df_2['positive'].astype(int)

In [68]:
df_2.head()

   stars                                               text  positive language
0      5  Went in for a lunch. Steak sandwich was delici...         1  english
1      4  I'll be the first to admit that I was not exci...         1  english
2      1  This place has gone down hill.  Clearly they h...         0  english
3      4  Like walking back in time, every Saturday morn...         1  english
4      1  Walked in around 4 on a Friday afternoon, we s...         0  english

In [69]:
df_2.drop('language',axis = 1, inplace = True)

In [70]:
df_2.head()

   stars                                               text  positive
0      5  Went in for a lunch. Steak sandwich was delici...         1
1      4  I'll be the first to admit that I was not exci...         1
2      1  This place has gone down hill.  Clearly they h...         0
3      4  Like walking back in time, every Saturday morn...         1
4      1  Walked in around 4 on a Friday afternoon, we s...         0

In [71]:
df_2 = df_2[['text', 'positive','stars']]
df_2.head()

                                                text  positive  stars
0  Went in for a lunch. Steak sandwich was delici...         1      5
1  I'll be the first to admit that I was not exci...         1      4
2  This place has gone down hill.  Clearly they h...         0      1
3  Like walking back in time, every Saturday morn...         1      4
4  Walked in around 4 on a Friday afternoon, we s...         0      1

In [72]:
df_2.columns  = ['reviews','sentiment','stars']
df_2.head()

                                             reviews  sentiment  stars
0  Went in for a lunch. Steak sandwich was delici...          1      5
1  I'll be the first to admit that I was not exci...          1      4
2  This place has gone down hill.  Clearly they h...          0      1
3  Like walking back in time, every Saturday morn...          1      4
4  Walked in around 4 on a Friday afternoon, we s...          0      1

In [73]:
df_2['reviews'] = df_2['reviews'].apply(lambda x : x.replace('\r\n',' '))

In [74]:
df_2['reviews'][0]

"Went in for a lunch. Steak sandwich was delicious, and the Caesar salad had an absolutely delicious dressing, with a perfect amount of dressing, and distributed perfectly across each leaf. I know I'm going on about the salad ... But it was perfect.  Drink prices were pretty good.  The Server, Dawn, was friendly and accommodating. Very happy with her.  In summation, a great pub experience. Would go again!"

In [75]:
df_2['Processed_Reviews'] = df_2['reviews'].apply(lambda x: clean_text(x))

In [89]:
df_2.drop('reviews',axis = 1 , inplace = True)

In [90]:
df_2.head()

   sentiment  stars                                  Processed_Reviews
0          1      5  go lunch steak sandwich delicious caesar salad...
1          1      4  ill first admit excite go la tavolta food snob...
2          0      1  place go hill  clearly cut back staff food qua...
3          1      4  like walk back time every saturday morning sis...
4          0      1  walk around 4 friday afternoon sit table bar w...

In [91]:
# V4 is the one after lemmatize and removing stop words
df_2.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_V4.csv")

In [125]:
df_2 = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_V4.csv")
df_2.drop("Unnamed: 0",axis = 1 , inplace = True)
print(df_2.shape)

(512913, 3)

In [126]:
positive = df_2[df_2['sentiment'] == 1]

In [127]:
positive.shape

(391928, 3)

In [128]:
negative = df_2[df_2['sentiment'] == 0]

In [129]:
negative.shape

(120985, 3)

In [108]:
df_2.shape

(512913, 3)

In [109]:
df_balanced = df_2.drop(df_2.query('sentiment == 1').sample(frac=.65).index)

In [110]:
df_balanced.shape

(258160, 3)

In [111]:
positive = df_balanced[df_balanced['sentiment'] == 1]
positive.shape

(137175, 3)

In [112]:
negative = df_balanced[df_balanced['sentiment'] == 0]
negative.shape

(120985, 3)

In [135]:
df_balanced.head()

   sentiment  stars                                  Processed_Reviews
2          0      1  place go hill  clearly cut back staff food qua...
4          0      1  walk around 4 friday afternoon sit table bar w...
6          0      1  cannot believe things change 3 years pick duck...
7          1      5  cant really find anything wrong place pastas p...
8          1      4  great lunch today staff helpful assist selecti...

In [117]:
df_balanced.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_balanced.csv",index = False)

In [118]:
df_3 = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_balanced.csv")

In [119]:
df_3.head()

   sentiment  stars                                  Processed_Reviews
0          0      1  place go hill  clearly cut back staff food qua...
1          0      1  walk around 4 friday afternoon sit table bar w...
2          0      1  cannot believe things change 3 years pick duck...
3          1      5  cant really find anything wrong place pastas p...
4          1      4  great lunch today staff helpful assist selecti...

In [130]:
df_3['Processed_Reviews'][0]

'place go hill  clearly cut back staff food quality  many review write menu change  ive go years food quality go hill  service slow  salad 15 bad get  worth spend money place many options'

In [153]:
def remove_space_numbers(x):
    text = x.split(" ")
    text = [words for words in text if words.isdigit() == False and words != '']
    text = " ".join(text)
    return text

In [154]:
df_3['Processed_Reviews'] = df_3['Processed_Reviews'].apply(lambda x:remove_space_numbers(x))

In [155]:
df_3['Processed_Reviews'][0]

'place go hill clearly cut back staff food quality many review write menu change ive go years food quality go hill service slow salad bad get worth spend money place many options'

In [156]:
df_3.head()

   sentiment  stars                                  Processed_Reviews
0          0      1  place go hill clearly cut back staff food qual...
1          0      1  walk around friday afternoon sit table bar wal...
2          0      1  cannot believe things change years pick duck c...
3          1      5  cant really find anything wrong place pastas p...
4          1      4  great lunch today staff helpful assist selecti...

In [157]:
df_3.to_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_balanced.csv",index = False)

In [158]:
df_3 = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_balanced.csv")

In [159]:
df_3['Processed_Reviews'][0]

'place go hill clearly cut back staff food quality many review write menu change ive go years food quality go hill service slow salad bad get worth spend money place many options'

In [160]:
final_df = pd.read_csv("C:/Users/Harvey/Desktop/Yelp_data_set/restuarant_review_balanced.csv")

In [162]:
baseline = final_df[final_df['sentiment']==1].shape[0] / final_df.shape[0]
print(baseline)

0.531356523086458

In [2]:
df_test = pd.read_csv("/Users/harvey/Desktop/Data/restuarant_review_balanced.csv")

In [3]:
df_test['Processed_Reviews'][0]

'place go hill clearly cut back staff food quality many review write menu change ive go years food quality go hill service slow salad bad get worth spend money place many options'